*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color:#FAAD00;
}
.container {
    max-width: 900px;
    margin: 0  auto;

}
p{
    font-size: small;
    color: grey;
    margin-left: 5px;
}


.apply_box {
max-width:600px;
background-color: white;
margin: 0 auto;
margin-top: 50px;
padding: 20px;
box-shadow: 4px 3px 5px rgba(1,1,1,0.1);


}

#img{
    max-width: 560px;
    padding: 0px;
    margin-top: 0px;



    
}



.form_container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.form_control
{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
label {
    font-size: 15px;
    margin-bottom: 5px;
}

input, select ,textarea {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

input:focus{
    outline-color:#FB8B24 ;
}
.button_container{
    display: flex;
    justify-content:flex-end;
    margin-top: 20px;
    padding: 20px;
    
}
button{
    background-color:#FFB000;
    border: transparent solid 2px;
    padding: 5px 10px ;
    color: white;
    border-radius: 8px;

}

button:hover{
    background-color:#FFD93D ;
    border: 2px Solid #FFD93D;
    color: black;
    transition: 0.8s ease-out;
}

.textarea_control{
    grid-column: 1 / span 2;
}
.textarea_control textarea{
width: 100%;
}

#Copywright{
    text-align:center;
    font-size: medium;
    color: white;
    
}

@media(max-width:460px){
    .textarea_control{
        grid-column: 1 / span 1;
    }

    #img{
        max-width: 360px;
    }
}